# ðŸŽ­ SQL avanzado

## ðŸ”˜ LIMIT

Establece el nÃºmero de filas a visualizar.

**Sintaxis**

```sql
SELECT * FROM [table_name] LIMIT [no_filas]
```

## ðŸ”˜ LIKE

Permite el uso de expresiones regulares.

**Sintaxis**

```sql
-- registro que comience en CIA
SELECT * FROM [table_name] WHERE [column1] LIKE ['CIA%']

-- registro que termine en CIA
SELECT * FROM [table_name] WHERE [column1] LIKE ['%CIA']

-- registro que contenga CIA
SELECT * FROM [table_name] WHERE [column1] LIKE ['%CIA%']
```

## ðŸ”˜ IN

BÃºsqueda en valores en listas.

**Sintaxis**

```sql
SELECT * FROM [table_name] WHERE [col] IN (val1, val2, ...)
```

## ðŸ”˜ BETWEEN

BÃºsqueda en valores en intervalos.

**Sintaxis**

```sql
SELECT * FROM [table_name]
WHERE [column] BETWEEN [val1] AND [val2]
```

## ðŸ”˜ ALIAS

Renombra las columnas para su uso dentro del script o de la consulta, pero no es un cambio permanente.

**Sintaxis**

```sql
SELECT [column1] AS [alias] FROM [table_name]
```

## ðŸ”˜ JOIN

Permite concatenar tablas horizontalmente a travÃ©s de atributos compartidos como llaves.

**Sintaxis**

```sql
SELECT * FROM [table1] JOIN [table2] WHERE table1.col = table2.col
```

## ðŸ”˜ UNION

Permite unir dos sentencias SELECT, donde los resultados se concatenan verticalmente, se requiere que haya el mismo nÃºmero de columnas, en el mismo orden, y que cada columna sea del mismo tipo de dato.

**Sintaxis**

```sql
SELECT * FROM [table_name] WHERE [column1] > [val]
UNION
SELECT * FROM [table_name] WHERE [column2] = [val]
```

## ðŸ”˜ CREATE TABLE

Crea tablas dentro de la base de datos.

**Sintaxis**

```sql
CREATE TABLE [table_name] (column1 datatype, column2 datatype, column1 datatype)
```

Se tienen los siguientes tipos de datos:

- **NÃºmeros enteros:**
  - `INTEGER`: nÃºmeros enteros con signo.
  - `SMALLINT`: enteros pequeÃ±os con signo.
  - `BIGINT`: enteros grandes con signo.

- **NÃºmeros decimales:**
  - `DECIMAL(p, s)`: nÃºmeros decimales de precisiÃ³n fija, donde "p" representa la precisiÃ³n total y "s" es la escala decimal (nÃºmero de dÃ­gitos a la derecha del punto decimal).
  - `NUMERIC(p, s)`: similar a DECIMAL, pero puede almacenar nÃºmeros con decimales.
  - `FLOAT`: nÃºmeros de coma flotante.
  - `REAL`: nÃºmeros de coma flotante de precisiÃ³n simple.
  - `DOUBLE PRECISION`: nÃºmeros de coma flotante de doble precisiÃ³n.

- **Cadenas de caracteres:**
  - `CHAR(n)`: cadena de caracteres de longitud fija con una longitud mÃ¡xima de "n".
  - `VARCHAR(n)`: cadena de caracteres de longitud variable con una longitud mÃ¡xima de "n".
  - `TEXT`: cadena de caracteres de longitud variable sin lÃ­mite especÃ­fico.

- **Fechas y horas:**
  - `DATE`: fecha sin la parte del tiempo.
  - `TIME`: hora sin la parte de la fecha.
  - `TIMESTAMP`: fecha y hora combinadas.

- **Booleano:**
  - `BOOLEAN`: representa los valores verdadero (TRUE) y falso (FALSE).

## ðŸ”˜ NOT NULL

En la creaciÃ³n de una tabla, establece que los valores de una columna no puede tener valores nulos.

**Sintaxis**

```sql
CREATE TABLE [table_name] (column1 datatype NOT NULL)
```

TambiÃ©n, a travÃ©s del filtrado con `WHERE`, se pueden obtener las instancias que contengan valores nulos.

```sql
-- valores nulos
SELECT * FROM [table_name] WHERE [column] IS NULL

-- valores no nulos
SELECT * FROM [table_name] WHERE [column] IS NOT NULL
```

## ðŸ”˜ UNIQUE

En la creaciÃ³n de una tabla, establece que los valores en una columna no pueden repetirse.

**Sintaxis**

```sql
CREATE TABLE [table_name] (column1 datatype UNIQUE)
```

```{admonition} Llaves primarias *vs* llaves forÃ¡neas
:class: info
Las **llaves primarias** son un identificador Ãºnico de las instancias dentro de una tabla, no puede tener valores nulos, y garantiza la unicidad e integridad de los datos. Se utiliza a su vez para establecer relaciones entre otras tablas, esto a travÃ©s de las **llaves forÃ¡neas**, atributos que permiten la relaciÃ³n con el resto de tablas.

Las **relaciones entre tablas** pueden ser:

- Uno a muchos `[1:N]`
- Muchos a muchos `[N:N]`

TambiÃ©n, diferentes atributos se pueden combinar para formar **llaves compuestas**.
```

Podemos entonces establecer **llaves primarias**:

```sql
CREATE TABLE [table_name] (col_id INTEGER PRIMARY KEY)
```

TambiÃ©n **llaves forÃ¡neas** para indicar la llave primaria de otra tabla:

````{margin}
```{note}
Al momento de insertar un nuevo registro en los campos indicados como *llaves forÃ¡neas*, los valores deberÃ¡n pertenecer al dominio de dicho campo en la otra tabla.
```
````

```sql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
    ...
    FOREIGN KEY (column_name) REFERENCES referenced_table(referenced_column)
);
```

La columna `column_name` hace referencia a una de las columnas de la tabla que estÃ¡ siendo creada, no significa que en la misma lÃ­nea se estÃ© creando una nueva variable.

## ðŸ”˜ CHECK

Establece restricciones en los campos de una tabla al crear una tabla.

**Sintaxis**

```sql
CREATE TABLE [table_name] (
    column1 datatype,
    column2 datatype,
    ...
    CHECK (column1 > 0)
);
```

Hasta ahora, las condiciones `CHECK` solo establecen comparaciones entre valores numÃ©ricos.

## ðŸ”˜ CREATE INDEX

Se crea un Ã­ndice hash dada cierta columna. Devuelve resultados de bÃºsqueda de forma instantanea, con complejidad $O(1)$, pero es recomdable hacerlo con parÃ¡metros de bÃºsqueda como identificadores o llaves primarias.

**Sintaxis**

```sql
CREATE INDEX [index_name] ON [table_name] (column1, column2, ...);
```

## ðŸ”˜ DROP

Sirve para eliminar tablas, Ã­ndices o una base de datos.

**Sintaxis**

```sql
DROP INDEX [index_name]
DROP TABLE [table_name]
```

## ðŸ”˜ TRUNCATE

Elimina los datos pero no la estructura de la tabla.

**Sintaxis**

```sql
TRUNCATE TABLE [table_name]
```

## ðŸ”˜ ALTER

AÃ±ade, elimina, o modifica columnas de una tabla.

**Sintaxis**

```sql
-- aÃ±adir columna
ALTER TABLE [table_name] ADD [column datatype];

-- eliminar columna
ALTER TABLE [table_name] DROP COLUMN [column_name];

-- aÃ±adir constricciones, por ejemplo, una llave primaria
ALTER TABLE [table_name]
ADD CONSTRAINT [constraint_name] PRIMARY KEY (column1, column2, ...);

-- eliminar constricciones
ALTER TABLE [table_name]
DROP CONSTRAINT [constraint_name];
```

```{admonition} Constricciones
:class: info
Las constricciones que maneja SQL son:

- `PRIMARY KEY`
- `FOREIGN KEY`
- `UNIQUE`
- `CHECK`
- `NOT NULL`

Todas estas pueden ser modificadas despuÃ©s de la creaciÃ³n de la tabla.
```

## ðŸ”˜ AUTOINCREMENT

Genera nÃºmeros Ãºnicos de forma automÃ¡tica y secuencial en la creaciÃ³n de una tabla.

**Sintaxis**

````{margin}
```{tip}
Para un mejor orden, los campos autoincrementales suelen estar el principio del resto de campos.
```
````

```sql
CREATE TABLE [table_name] (
    column_id INTEGER PRIMARY KEY AUTOINCREMENT,
    column1 datatype,
    column2 datatype,
    ...
);
```

Al momento de agregar nuevas instancias, ignoramos el lugar del campo incremental y se aÃ±ade el resto de campos.


## ðŸ”˜ CREATE VIEW

Crea una tabla temporal, subconjunto de otra tabla.

**Sintaxis**

```sql
-- crea la vista temporal
CREATE VIEW [name_view]
AS SELECT [column1, column2, ...]
FROM [table_name]
WHERE [condition]

-- elimina la vista temporal
DROP VIEW [name_view]
```

## ðŸ”˜ Funciones de agregaciÃ³n

Aplica funciones de agregaciÃ³n sobre el atributo indicado.

```sql
SELECT [funcion(column_name)] FROM [table_name]
```

Las funciones de agregaciÃ³n pueden ser:

- `SUM`
- `AVG`
- `COUNT`
- `MAX`
- `MIN`
- 
```{tip}
La funciÃ³n de agregaciÃ³n `COUNT` suele ser combinada con el statement `WHERE`, para contabilizar registros que cumplan cierta condiciÃ³n.
```

## ðŸ”˜ CURRENT TIME, CURRENT DATE

Permite obtener la hora independiente a cualquier tabla en la base de datos.

**Sintaxis**

```sql
SELECT CURRENT_TIME AS [hour]

-- combinar resultados con la hora de consulta
SELECT [column1, column 2, ...], CURRENT_TIME AS [hour] FROM [table_name]
```

De modo similar, la fecha puede ser incluida en las consultas o de forma independiente a estas.

```sql
SELECT CURRENT_DATE AS [date]

-- combinar resultados con la fecha de consulta
SELECT [column1, column2, ...], CURRENT_DATE AS [date] FROM [table_name] 
```

La combinaciÃ³n de fecha y hora se da a travÃ©s de `CURRENT_TIMESTAMP` de modo completamente anÃ¡logo.